
.cabecalho {
  top: -2.5em;
  left: 50%;
   min-height:5rem;
  text-align: center;
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content:space-around;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.24); 
box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.24);
}


.cabecalho-logo-img {
  margin: 0 auto;
  display: block;
  transition: filter .3s;
}

.cabecalho-logo-img:hover,
.cabecalho-logo-img:focus {
  filter: brightness(1.2);
}


.cabecalho-nav {
  text-align: center;
}

.cabecalho ul{display: flex;}

.cabecalho-cidade{
  text-align: left;
  margin: 0 1vw 0 2vw;
  background-color: #dcf3f7;
  padding: 0.5vw;
  border-radius: 0.5vw;
}

.city{display: inline;color:#006171; font-weight: bold; font-size: 1.2rem;}

.esquerda {
  display: flex;
  align-items: flex-end;
}

.tiny{
  font-size:0.7rem;
}
.cabecalho-nav-item {
  display: flex;
  align-items: center;
  cursor:pointer;
  margin: 0 .5em;
  border:none;
  border:2px solid #006171;
  font-size: .95em;
  padding:0.3rem 0.8rem;
  background-color:#ededf3;
  border-radius: 1rem;
  transition:.1s;
}

.cabecalho-nav-item button{
  background: none;
  padding:2px;
  border-radius:20px;
}

.cabecalho-nav-item:hover,
.cabecalho-nav-item:focus
{
  transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.21); 
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.21);
}

.cabecalho-nav-item a {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', serif;

}



.cabecalho-nav-item a:hover,
.cabecalho-nav-item a:focus {
  text-decoration: underline;
}

.cabecalho img{width:12rem}

.cabecalho-nav-item-search{
  border:none;
  padding:0.5em;
  
  background-color:#ededf3;

}

label {font-size: 0.7rem;
      color:#9292a2
}

li{display: flex; flex-grow: 0; flex-wrap: wrap;}



@media (min-width: 830px) {

  .cabecalho {
    border-bottom: 0;
    padding-bottom: 0
  }


  .cabecalho-logo {
    float: left;
  }

  .cabecalho-nav {
    float: right;
    margin-top: 1em;
  }

}

@media (max-width:830px){
  .cabecalho{
    flex-direction: column;
    padding-bottom: 1vh;

  }

  .cabecalho-cidade{
    border-radius: 1vh;
    margin: 2vh 0;
    padding:1vh
  }

  .esquerda{flex-direction: column; justify-content: center; align-items: center;}

  #search{width: 60vw;}

  .cabecalho ul{flex-wrap: wrap;}


  .cabecalho-nav-item{margin:1vw;}

  .cabecalho-logo{margin-top: 3vh;}
}