#hospedagem{
    color:#a2cff0;
}

#carros{
    color:#939bc8;
}

#historia{
    color:#b4986d;
}

#cultura{
    color:#dca3c6;
}

#gastronomia{
    color:#edcc90;
}

#noturna{
    color:#8f88ba;
}

#parques{
    color:#a0c49a;
}

#entreterimento{
    color:#db9398;
}


#HRhospedagem{
    background-color:#a2cff0;
    border: 2px solid #a2cff0;
}

#HRcarros{
    background-color:#939bc8;
    border: 2px solid #939bc8;
}

#HRhistoria{
    background-color:#b4986d;
    border: 2px solid #b4986d;
}

#HRcultura{
    background-color:#dca3c6;
    border: 2px solid #dca3c6;
}

#HRgastronomia{
    background-color:#edcc90;
    border: 2px solid #edcc90;
}

#HRnoturna{
    background-color:#8f88ba;
    border: 2px solid #8f88ba;
}

#HRparques{
    background-color:#a0c49a;
    border: 2px solid #a0c49a;
}

#HRentreterimento{
    background-color:#db9398;
    border: 2px solid #db9398;
}


#BORDERhospedagem{

    border: 2px solid #a2cff0;
}

#BORDERcarros{

    border: 2px solid #939bc8;
}

#BORDERhistoria{

    border: 2px solid #b4986d;
}

#BORDERcultura{

    border: 2px solid #dca3c6;
}

#BORDERgastronomia{

    border: 2px solid #edcc90;
}

#BORDERnoturna{

    border: 2px solid #8f88ba;
}

#BORDERparques{

    border: 2px solid #a0c49a;
}

#BORDERentreterimento{

    border: 2px solid #db9398;
}
.tituloSecundario{
    margin: 2vh 3vw;
}

.tituloSecundario h2{
    margin-bottom: 0.5vh;
}


.locais{margin-left: 3vw;
max-width: 97vw;
overflow-x: auto;
padding: 2vh 0;
}


.tituloSecundario hr
{height:0.3vh;
    border:none;
    border-radius:1vh;
}

.local{
    width:20vw;
    min-height: 200px;
    padding:1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color:#ededf3;
    border-radius:3vh;
    transition: .2s;
    cursor:pointer;
    margin-right: 1vw;
}

.localdescription{
    width:100%;
    height:25%;
    color:white;
    font-size: 1.2rem;
    padding:0.5vh  0 0 0.2vw;
    background-color:#0000008c
}

main h1{
    margin-left: 3vw;
    margin-top: 5vh;
    font-size: 1.5rem;
    color:#006171;
}

#ibirapuera{
    background-image:url("/img/ibirapuera.jpg");
    margin-left: 1vw;
}

.local:hover, .local:focus{
    transform: scale(1.03);    
}

ul{display: flex;}

@media (max-width:830px){
    .local{width:90vw; flex-shrink:0; padding:1vh}

    main h1{font-size: 1.2rem;}

    .locais{
        flex-wrap: nowrap;
    }

    footer{margin-top: 5vh;}

}
