
.secaoDestaque {
  text-align: center;
  background-size: cover;
  padding: 5em 2em 3em 2em;
  color: black;
  
}


.secaoDestaque-titulo {
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 10vh;
  font-size: 19px;
  font-family: 'Poppins', serif;
  line-height: 1;
}

.secaoDestaque-texto {
  max-width: 600px;
  margin: 0 auto 2em auto;
  font-size: 1.25em;
  font-weight: normal;
  padding:1rem;
  margin-bottom: 2.8em;

  display:inline-block;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.193);

}

.secaoDestaque-cta {
  
  font-size: 1em;
  width: 100%;
  max-width: 300px;
  line-height: 2.5;
  cursor: pointer;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  transition: .2s ease-in;
}

.secaoDestaque-cta:hover,
.secaoDestaque-cta:focus {
  background: #fff;
  color: #333;
}

.cadastro{margin-top: 3vh; background-color:#006171;}


.secaoDestaque-titulo {
  font-size:4rem;
}
@media (max-width: 830px) {


  .secaoDestaque-titulo {
    font-size:2rem;
    margin-top:0;
  }

  .secaoDestaque-texto{font-size:1rem}

}